    #scroll-container {
        /* border: 3px solid black; */
        border-radius: 5px;
        overflow: hidden;
        width: 1050px;
    }

    #scroll-text {
    /* animation properties */
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        
        -moz-animation: my-animation 30s linear infinite;
        -webkit-animation: my-animation 30s linear infinite;
        animation: my-animation 30s linear infinite;
    }

    @media (max-width: 992px) {
        #scroll-text
        {
            font-size: 87% !important;
        }

    }

    /* for Firefox */
    @-moz-keyframes my-animation {
        from { -moz-transform: translateX(100%); }
        to { -moz-transform: translateX(-100%); }
    }

    /* for Chrome */
    @-webkit-keyframes my-animation {
        from { -webkit-transform: translateX(100%); }
        to { -webkit-transform: translateX(-100%); }
    }

    @keyframes my-animation {
    from {
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    to {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
